/* universal styles */

html {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

/* header styles */

.banner-image {
  height: 30rem;
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  padding-top: 1rem;
}

.nav-bar {
  display: flex;
  max-width: 960px;
  background-color: cadetblue;
  margin: 0 auto 10rem auto;
  padding: 2rem 1rem;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
}

.title img {
  height: 1.5rem;
  margin-right: 1rem;
}

.title span {
  color: white;
}

a {
  color: white;
  padding: 1rem;
  text-decoration: none;
}

.banner-tagline {
  display: flex;
  width: 960px;
  margin: 0 auto;
  justify-content: flex-end;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  background-color: white;
  padding: 1.5rem 5rem;
  margin-right: -2rem;
  display: inline-block;
}

/* main content styles */

.services {
  display: flex;
  justify-content: center;
}

.icon {
  width: 5rem;
  height: 8rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
  align-items: center;
  text-align: center;
  line-height: 1.4;
}

.icon img {
  width: 5rem;
}

.icon img.paper-icon {
  width: 3.5rem;
}

.supporting-info {
  display: flex;
  justify-content: center;
}

.info {
  width: 35%;
  margin-right: 5%;
  line-height: 1.4;
}

.box-heading {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  width: 10rem;
  padding: 0.5rem 1.25rem;
}

.text-block {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.container {
  max-width: 960px;
  margin: auto;
}

footer {
  background-color: cadetblue;
  padding: 4rem;
  display: flex;
  align-items: center;
}

footer img {
  height: 1.5rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 1024px) {
  .banner-image {
    padding-top: 0;
  }

  .container {
    width: 100%;
  }

  .nav-bar {
    width: 100%;
  }

  .banner-tagline h1 {
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 480px) {
  .services {
    flex-direction: column;
    align-items: center;
  }
}
